html{
	background-color : #000;
}

h1{
	color : #fff;
	text-align : center;
	font-size : 25px;
	padding : 10px;
}

canvas{
	margin : auto;
	border : solid 1px #000;
	display:block;
	width : 1024px;
	height : 672px;
}